@font-face{
font-family:"caption";
src:url("font/长城特粗宋体.ttf");
}
@font-face{
font-family:"caption";
src:url("font/方正呐喊体.ttf");
}

@font-face{
font-family:"黑体";
src:url("font/条幅黑体.ttf");
}
@font-face{
font-family:"handwriting";
src:url("font/毛笔行书.ttf");
}
@font-face{
font-family:"handwriting";
src:url("font/米芾字体.ttf");
}
#bgmusic{
position:fixed;
top:30px;
left:15px;
opacity:0.65;
}
#mb{
	position:relative;
	background-color:black;
	color:white;
	bottom:10px;
}
	


p.large{
font-size:32px;
font-family:"Times New Roman";
font-style:italic;
text-align:center;
}
h1.link{
font-size:32px; 
font-family:"Times New Roman";
font-style:italic;
font-variant:small-caps;
text-align:center;
color:white;
/*animation-name:colorchange;
animation-duration:0.5s;
animation-iteration-count:infinite;
*/
}

@keyframes colorchange{
0%{color:white;}
100%{color:red;}
}
p.link{
color:white;
f ont-size:20;
}

#song{
font-size:30px;
/*font-style:italic;*/
font-family:"黑体";
font-weight:none;
text-align:center;
color:white;
/*letter-spacing:0px;
transition:color 1s,letter-spacing 0.5s;
*/
}
#song_change{
font-size:30px;
/*font-style:italic;*/
font-family:"黑体";
font-weight:none;
text-align:center;
color:red;
letter-spacing:5 px;
}

/*#song:hover{
letter-spacing:5px;
color:red;
}
*/

#song::selection{
background:none;
color:red;
}


div.song-block{
padding:0px;
border:1px solid white;
background:url("img/miku-long-darkest.jpg");
background-size:cover;
background-clip:padding-box;
text-align:center;
}





a:hover{
color:red;
}
a:visited{
color:white;
}
span{
cursor:url("img/mouse/miku.png"),auto;
}
body{
background-image:url("img/chalkboard.jpg");
background-color:white;
}
.side{
position:fixed;
top:350px;
right:5px;
}
